
.section-name {
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: center;
  }

 
 .detailTable{
    display: grid;
    grid-template-columns: 20% 40% 20%;
    align-items: center;
    justify-content: center;
    height:20px;
  }
  .menuText{
    /* align-self: end; */
    /* grid-area:end; */
    text-align: left;
    padding-left:20px;
}
  .detailLine{
    border:none;
    border-top:2px dashed black;
  }
  .billText{
    font-size: 23px;
    padding-bottom:10px;
    color:rgb(148, 181, 247)

  }
  .am{
    font-size: 28px;
    font-weight: bold;
    height:20px;
  }
  .amountfromcart{
    color:rgb(98, 98, 255);

  }
  .amountYouEnter{
    color:rgb(54, 54, 54);
  }
  .amountChanged{
    color:rgb(180, 182, 182)
  }
  .detailPrice{
    padding-left:10px;
  }




/* bill start */
.amountTendered{
    width:30%;

}

.amountYouEnter{
    background: rgba(248, 249, 255, 0.792);
    padding: 10px;
    border-radius: 5px;
    box-shadow: -2px 2px 5px 0px rgba(207,206,206,0.75) inset;
-webkit-box-shadow: -2px 2px 5px 0px rgba(207,206,206,0.75) inset;
-moz-box-shadow: -2px 2px 5px 0px rgba(207,206,206,0.75) inset;
}
.n{
    border: none;
    background-color: white;
    color: grey;
    justify-self: center;
    border-radius: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height:60px;
    width:60px;
    line-height: 60px;;
    text-align: center;
    font-weight: bold;
    margin:5px;
}
.calculation{
    width:45%;
}
.amountN{
   
    height: 54px;
    width: 80px;
    line-height: 54px;
    text-align: center;
    background-color: white;
    color: grey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:5px ;
    border-radius: 5px;
    cursor: pointer;
}
.amountN:hover,.maxn:hover,.emp:hover{
  background-color: grey;
    color: white;
}
.maxn{
    height: 64px;
    width: 180px;
    line-height: 64px;
    text-align: center;
    background-color: white;
    color: grey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:10px; 
    border-radius: 5px;
    cursor:pointer;
}
.emp{
    height: 38px;
    width: 180px;
    line-height: 38px;
    text-align: center;
    background-color: white;
    color: grey;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:8px; 
    border-radius: 5px;
    cursor:pointer;
}.paymentMethod{
    width:22%;
}
.btnInvoice,.finalize,.cash,.cards{
    height:50px;
    line-height: 50px;
}
.finalize{
    font-size: 25px;
    font-weight: bold;
}
.n{
  cursor: pointer;
}
@media screen and (max-width:778px){
.collection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calculation{
    width:100%;
}
}

@media screen and (max-width:570px){
    .finalize{
        font-size: 20px;
        
    }
}
@media screen and (max-width:797px){
    .detailTable{
height:40px;
    }
    .menuText{
        padding-left:0;
    }
}
.backBtn{
  height: 38px;
  width: 80px;
  line-height: 38px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin:8px; 
  border-radius: 5px;
  cursor:pointer;
  border:none;
}