<div class='main'>
    <div class='app-header'>
        <app-header> </app-header>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xxl-4 col-lg-4 col-md-12 col-sm-12 order-md-2 order-2 order-xxl-0 order-lg-0 ">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-xxl-8 col-lg-8 col-md-12 order-md-1 order-1">
                <router-outlet name="pos"></router-outlet>
            </div>
        </div>
    </div>
</div>

