<!-- Modals -->
<div class="modifierContainer" >
    <!-- *ngIf="modifierActive" -->
    <div class="modal fade" id="modifierModel" tabindex="-1" aria-labelledby="modifierModelLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifierModelLabel">Modifiers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                    <div class="modifierDiv" *ngFor="let modifier of modifiers">
                        <button class="modifiers"
                        (click)="sendSelectedModifiers(modifier) "
                        (click)="orderDetails()" 
                        >
                        <!-- (click)="sendSelectedModifiers(modifier)" -->
    
                            <div class="modifierName">
    
                                {{modifier.modifierName}}
                            </div>
                            <div class="modifierPrice">
                                {{modifier.modifierPrice}}
                            </div>
                        </button>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>